<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Create User Account<br>
    </h1>
    <h2>
        Please enter a valid email address and strong password.
    </h2>
    <form action="/" method = "POST">
        <label for="email">Email Address:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="pass">Password:</label><br>
        <input type="text" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
      </form>
</body>
</html>