<%- include ("header") -%>
  </body>
</html>


    <div id="label" class="text-center"></div>
    <div class="shopping-cart" id="shopping-cart"></div>
    <div id="total-price" class="total-price"></div>

    <!-- Products-->
    <div class="shop" id="shop"></div>
  </body>
  <script src="products.js"></script>
  <script src="cart.js"></script>
  <script src="app.js"></script>

  <link rel="stylesheet" href="styles.css" />
</html>
