<%- include ("header") -%>
<div class="container">
  <iframe
    class="responsive-iframe"
    style="border: none; width: 100%; height: 80%"
    src="https://charts.mongodb.com/charts-project-0-uyjul/embed/dashboards?id=9bc2b0d5-b57e-4d6a-833d-50ea7556ca56&theme=dark&attribution=false&autoRefresh=true&maxDataAge=10&showTitleAndDesc=false&scalingWidth=scale&scalingHeight=scale"
  ></iframe>
</div>

<div class="sensor-selector">
  <div class="h1">
    <a
      style="
        font-size: 3rem;
        padding: 5px;
        border-radius: 5px;
        background-color: rgb(87, 0, 0);
      "
      href="/"
      class="temp-page"
      >BACK</a
    >
  </div>
</div>

<script src="products.js"></script>
<script src="cart.js"></script>
