<%- include ("header") -%>

  
  <div class="home-background">
    <h3 style="font-size:7rem;">DUDE</h3>
    <h3 style="color: red; letter-spacing: 6px; padding: 0;">DESIGNED BY</h3>
    <h3 style="font-size: 3rem;">DUDAGON</h3>
    <p style="margin: auto; width: 60%;">Over the last few years, there has been an uptick in “smart-devices”
      that are placed in users’ homes. There have been vendors who sell
      various different systems, but these systems lack flexibility. This is
      why we designed DUDE.</p>

  </div>
  <script src="products.js"></script>
  <script src="cart.js"></script>
</html>
