<%- include ("header") -%>


<div class="log">
  
  <form action="/support">
    <h1 style="font-size: 2rem;">How can we help you?</h1>
    <label for="fname">Name</label>
    <input type="text" id="name" name="fullname" placeholder="Your name..">

    <label for="lname">Email</label>
    <input type="text" id="email" name="email" placeholder="Your email address..">

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="usa">USA</option>
      <option value="canada">Canada</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    <button type="submit" name="id">Submit</button>

  </form>
</div>
  <script src="products.js"></script>
  <script src="cart.js"></script>
</html>
